In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/stephaniekendall/Desktop/Flatiron/projects/Cannabis-Predictions/CSV Files/matched_strains.csv')
df.head()

,Unnamed: 0,strain,type,rating,effects,taste
0,0,100 Og,hybrid,4,"Creative,Energetic,Tingly,Euphoric,Relaxed","Earthy,Sweet,Citrus"
1,1,98 White Widow,hybrid,4.7,"Relaxed,Aroused,Creative,Happy,Energetic","Flowery,Violet,Diesel"
2,2,1024,sativa,4.4,"Uplifted,Happy,Relaxed,Energetic,Creative","Spicy/Herbal,Sage,Woody"
3,3,13 Dawgs,hybrid,4.2,"Tingly,Creative,Hungry,Relaxed,Uplifted","Apricot,Citrus,Grapefruit"
4,4,24K Gold,hybrid,4.6,"Happy,Relaxed,Euphoric,Uplifted,Talkative","Citrus,Earthy,Orange"

In [4]:
df = df.iloc[:,1:]
df.head()

,strain,type,rating,effects,taste
0,100 Og,hybrid,4,"Creative,Energetic,Tingly,Euphoric,Relaxed","Earthy,Sweet,Citrus"
1,98 White Widow,hybrid,4.7,"Relaxed,Aroused,Creative,Happy,Energetic","Flowery,Violet,Diesel"
2,1024,sativa,4.4,"Uplifted,Happy,Relaxed,Energetic,Creative","Spicy/Herbal,Sage,Woody"
3,13 Dawgs,hybrid,4.2,"Tingly,Creative,Hungry,Relaxed,Uplifted","Apricot,Citrus,Grapefruit"
4,24K Gold,hybrid,4.6,"Happy,Relaxed,Euphoric,Uplifted,Talkative","Citrus,Earthy,Orange"

In [14]:
names = list(df.effects.values)
effects=[]
for n in names:
    for i in n:
        if i not in effects:
            effects.append(i)
            
# for i in effects:
#     title=str(i)
#     title=[]
#     for x in df.effects:
#         if i in x:
#             title.append(1)
#         else:
#             title.append(0)
#     df[i]=title

In [6]:
df2 = pd.read_csv('/Users/stephaniekendall/Desktop/Flatiron/projects/Cannabis-Predictions/CSV Files/strains_dummy.csv')

In [8]:
df2 = df2.iloc[:,1:]
df2.head()

,name,type,Relaxed,Hungry,Happy,Sleepy,Dizzy,Depression,Insomnia,Pain,...,Eye Pressure,Anxious,Giggly,Aroused,Inflammation,Spasticity,Seizures,positive,negative,medical
0,afpak,2,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,4,1,5
1,african,1,0,0,1,0,0,1,0,1,...,0,0,0,0,0,0,0,5,1,6
2,afternoon delight,2,1,1,0,0,1,1,1,1,...,0,0,0,0,0,0,0,5,3,6
3,afwreck,2,1,0,1,1,1,0,0,1,...,0,0,0,0,0,0,0,5,4,6
4,agent orange,2,1,0,1,0,1,1,0,1,...,0,0,0,0,0,0,0,5,4,6

In [41]:
df.head()

,strain,type,rating,Creative,Energetic,Tingly,Euphoric,Relaxed,Aroused,Happy,...,Ammonia,Minty,Tree,Fruit,Butter,Pineapple,Tar,Rose,Plum,Pear
0,100 Og,hybrid,4,1,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,98 White Widow,hybrid,4.7,1,1,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,1024,sativa,4.4,1,1,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,13 Dawgs,hybrid,4.2,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,24K Gold,hybrid,4.6,0,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0

In [26]:
effects = []
for element in names:
    parts = element.split(',')
    effects.append(parts)

more = []
for n in effects:
    for i in n:
            if i not in effects:
                more.append(i)

In [30]:
for i in more:
    title=str(i)
    title=[]
    for x in df.effects:
        if i in x:
            title.append(1)
        else:
            title.append(0)
    df[i]=title

In [37]:
tastes = list(df.taste.values)
taste = []
for element in tastes:
    parts = element.split(',')
    taste.append(parts)

mores = []
for n in taste:
    for i in n:
            if i not in taste:
                mores.append(i)
for i in mores:
    title=str(i)
    title=[]
    for x in df.taste:
        if i in x:
            title.append(1)
        else:
            title.append(0)
    df[i]=title

In [39]:
df.drop(columns=['effects','taste'], inplace=True)

In [36]:
df2.describe()

,type,Relaxed,Hungry,Happy,Sleepy,Dizzy,Depression,Insomnia,Pain,Stress,...,Eye Pressure,Anxious,Giggly,Aroused,Inflammation,Spasticity,Seizures,positive,negative,medical
count,1970.000000,1970.000000,1970.000000,1970.000000,1970.000000,1970.000000,1970.000000,1970.000000,1970.000000,1970.000000,...,1970.000000,1970.000000,1970.000000,1970.000000,1970.000000,1970.000000,1970.000000,1970.000000,1970.000000,1970.000000
mean,1.206599,0.777157,0.210152,0.839086,0.284264,0.412690,0.784264,0.445178,0.764467,0.863959,...,0.086802,0.276142,0.136548,0.076650,0.193401,0.019289,0.008629,4.713706,2.372589,4.914213
std,0.877723,0.416259,0.407520,0.367545,0.451178,0.492443,0.411436,0.497112,0.424439,0.342919,...,0.281616,0.447201,0.343457,0.266102,0.395065,0.137575,0.092517,0.640011,1.696128,1.224123
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,1.000000,5.000000
50%,2.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2.000000,5.000000
75%,2.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,4.000000,6.000000
max,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000,5.000000,6.000000

In [42]:
df.to_csv(r'/Users/stephaniekendall/Desktop/Flatiron/projects/Cannabis-Predictions/CSV Files/taste_effects.csv')