In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [43]:
namelist,typelist,thclist, cbdlist=[],[],[],[]
for i in range(1,63):
    response=requests.get('https://www.wikileaf.com/strains/?page={}'.format(i))
    soup=BeautifulSoup(response.content,'html.parser')
    names=soup.findAll('h5',{'class':'name disp-title'})
    types=soup.findAll('p',{'class':'tag'})
    thcs=soup.findAll('p',{'class':'desc'})
    
    for n,x,t in zip(names,thcs,types):
            namelist.append(n.text)
            typelist.append(t.text)
            thclist.append(x.text[4:].strip('%'))

In [167]:
moreinfo={'name':namelist,'type':typelist,'thc':thclist}
df=pd.DataFrame(moreinfo)
df.head()

              name    type thc
0       Hindu Kush  Indica  20
1       NYC Diesel  Sativa  22
2      Green Crack  Sativa  24
3     Lamb's Bread  Sativa  17
4  Jack the Ripper  Sativa  17

In [168]:
df[['thcs','cbd']] = df.thc.str.split('%',expand=True)

df.head()

              name    type thc thcs   cbd
0       Hindu Kush  Indica  20   20  None
1       NYC Diesel  Sativa  22   22  None
2      Green Crack  Sativa  24   24  None
3     Lamb's Bread  Sativa  17   17  None
4  Jack the Ripper  Sativa  17   17  None

In [169]:
df = df.fillna(0)

In [170]:
def helps(x):
    if x != 0:
        return x.split()[-1]
    else:
        return x

In [171]:
df['cbd'] = df['cbd'].apply(lambda x: helps(x))

In [172]:
df.sample(5)

                   name    type           thc thcs cbd
1479      Doctor Doctor  Sativa   3% / CBD 20    3  20
263                  Rx  Hybrid  10% / CBD 12   10  12
1725  Dirty Old Bastard  Indica            20   20   0
920           Sour Maui  Sativa            27   27   0
1908     Orange Blossom  Indica            24   24   0

In [173]:
df = df.drop(columns=['thc'])
df.head()

              name    type thcs cbd
0       Hindu Kush  Indica   20   0
1       NYC Diesel  Sativa   22   0
2      Green Crack  Sativa   24   0
3     Lamb's Bread  Sativa   17   0
4  Jack the Ripper  Sativa   17   0

In [138]:
df.sample(10)

               name    type          thc cbd
1400        OG Chem  Sativa  20% / CBD 1   1
1089     Blue Bayou  Sativa           22   0
197      Red Dragon  Sativa           22   0
42           Gelato  Hybrid           25   0
159   Lavender Kush  Indica           18   0
1733     Grape Soda  Indica           30   0
722     Green Dream  Hybrid           24   0
956      Sugar Kush  Indica           20   0
1526   Sour Pebbles  Hybrid           25   0
492      Sour Grape  Hybrid           24   0