In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [43]:
namelist,typelist,thclist, cbdlist=[],[],[],[]
for i in range(1,63):
    response=requests.get('https://www.wikileaf.com/strains/?page={}'.format(i))
    soup=BeautifulSoup(response.content,'html.parser')
    names=soup.findAll('h5',{'class':'name disp-title'})
    types=soup.findAll('p',{'class':'tag'})
    thcs=soup.findAll('p',{'class':'desc'})
    
    for n,x,t in zip(names,thcs,types):
            namelist.append(n.text)
            typelist.append(t.text)
            thclist.append(x.text[4:].strip('%'))

In [116]:
moreinfo={'name':namelist,'type':typelist,'thc':thclist}
df=pd.DataFrame(moreinfo)
df.head()

              name    type thc
0       Hindu Kush  Indica  20
1       NYC Diesel  Sativa  22
2      Green Crack  Sativa  24
3     Lamb's Bread  Sativa  17
4  Jack the Ripper  Sativa  17

In [117]:
df.sample(20)

                     name    type          thc
1493      King Henry VIII  Hybrid           18
1746  Hawaiian Mayan Gold  Sativa           20
1394       North American  Indica           19
184          Black Domina  Indica           20
977         American Kush  Indica           27
1547        Fruit Crusher  Hybrid           26
1533     South Central LA  Indica           24
1330               Hobbit  Hybrid           15
1643               Bianca  Sativa           20
618              CBD Kush  Indica  8% / CBD 11
998              White OG  Hybrid           24
1658        Blizzard Bush  Hybrid           18
171           Hogs Breath  Indica           13
104            Grapefruit  Sativa           20
1321            Hawaii 78  Sativa           12
1671          Bubba Fresh  Indica           23
501           Dutch Berry  Sativa  27% / CBD 8
1895             Mud Bite  Indica            0
446              Blue God  Indica           20
1283      Fire Alien Kush  Hybrid           20

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1976 entries, 0 to 1975
Data columns (total 3 columns):
name    1976 non-null object
type    1976 non-null object
thc     1976 non-null object
dtypes: object(3)
memory usage: 46.4+ KB

In [119]:
df[['thcs','cbd']] = df.thc.str.split('%',expand=True)

df.head()

              name    type thc thcs   cbd
0       Hindu Kush  Indica  20   20  None
1       NYC Diesel  Sativa  22   22  None
2      Green Crack  Sativa  24   24  None
3     Lamb's Bread  Sativa  17   17  None
4  Jack the Ripper  Sativa  17   17  None

In [98]:
df['cbd'] = df.cbds.str.split('/ CBD ', expand=True)

In [121]:
df.sample(10)

                    name    type          thc thcs       cbd
1244         Cherry Kola  Indica           25   25      None
1783      Lavender Jones  Sativa  20% / CBD 1   20   / CBD 1
31           Purple Haze  Sativa           20   20      None
1761          Ogre Berry  Indica           28   28      None
1557      Sunlight Skunk  Hybrid           22   22      None
1696  Chocolate Meringue  Indica           23   23      None
1612               AK-49  Sativa           20   20      None
337                Mazar  Indica           20   20      None
1576         White Urkle  Hybrid           23   23      None
1229     Aurora Borealis  Hybrid           22   22      None

In [127]:
df = df.fillna(0)

In [130]:
df.sample(20)

                   name    type thc thcs cbd
486           Boss Hogg  Indica  20   20   0
450   Cookies and Cream  Hybrid  25   25   0
1918       Zelly's Gift  Sativa  18   18   0
912        Orange Turbo  Sativa  15   15   0
1849     Buckeye Purple  Indica  20   20   0
1059      Alpha Express  Sativa  21   21   0
857        Hollywood OG  Hybrid  20   20   0
524       Rare Darkness  Indica  26   26   0
1714    Gorilla Cookies  Sativa  19   19   0
471     Moonwalker Kush  Hybrid  28   28   0
937     Cadillac Purple  Hybrid  27   27   0
1669        Bright Fire  Indica  25   25   0
676               Recon  Indica  23   23   0
523              XXX OG  Indica  21   21   0
1323    Hawaiian Diesel  Sativa  22   22   0
117           Moby Dick  Sativa  21   21   0
1154    Forbidden Fruit  Indica  26   26   0
816      Blueberry Jack  Hybrid  20   20   0
468           Grape God  Indica  25   25   0
1440         Purple Cow  Sativa  19   19   0

In [131]:
def helps(x):
    if x != 0:
        return x.split()[-1]
    else:
        return x

In [133]:
df['cbd'] = df['cbd'].apply(lambda x: helps(x))

In [134]:
df.head()

              name    type thc thcs cbd
0       Hindu Kush  Indica  20   20   0
1       NYC Diesel  Sativa  22   22   0
2      Green Crack  Sativa  24   24   0
3     Lamb's Bread  Sativa  17   17   0
4  Jack the Ripper  Sativa  17   17   0

In [135]:
df = df.drop(columns=['thcs'])
df.head()

              name    type thc cbd
0       Hindu Kush  Indica  20   0
1       NYC Diesel  Sativa  22   0
2      Green Crack  Sativa  24   0
3     Lamb's Bread  Sativa  17   0
4  Jack the Ripper  Sativa  17   0

In [59]:
new.sample(10)

      thc    cbd
1789   22      0
710    22      0
1477   20      0
68     28      0
726   24%  CBD 5
325    26      0
1950    0      0
711    21      0
910    20      0
906    24      0

In [76]:
plz = new.to_frame()pan.reset_index()
plz.head()

   index thc
0      0  20
1      1  22
2      2  24
3      3  17
4      4  17

In [75]:
plz.head()

  thc
0  20
1  22
2  24
3  17
4  17

In [74]:
plz.thc.apply(lambda x:x.replace('%',''))
plz.cbd.apply(lambda x:x.replace('CBD ',''))
plz.sample(10)

AttributeError: 'DataFrame' object has no attribute 'cbd'